<div class="jumbotron">
  <h1>TECHNICAL TEST JAVA.</h1>
  
  <p>A company wants to build a system where it can take control of the assistance of its employees, for it must do certain functionalities demarcated below:
</p>
<ul>
	<li> Build functionality for employee records</li>
	<li> Build functionality to terminate a retired employee</li>
	<li>Form for assistance</li>
	<li>Report of attendance in a period of one week and one month.</li>
</ul>

	<p>by @fatdor</p>

	<p>You can see the source code here <a class="btn btn-primary" href="https://github.com/faltdor/attendance-api-test"  target="blank">@faldor</a></p>

</div>